# SPDX-FileCopyrightText: (c) 2018-2023 Siemens
# SPDX-License-Identifier: MIT

[flake8]
exclude = .git,__pycache__
max-complexity = 10
max-line-length = 120
ignore = E121,
         E123,
         E126,
         E226,
         E704,
         W503,
         W504
