# SPDX-FileCopyrightText: (c) 2018-2023 Siemens
# SPDX-License-Identifier: MIT

.vscode/
__pycache__
docs/
dist/
html/

_TODO.txt

# older releases
Releases/

# internal test data
local_test_api.py
Test-Binary.jar
Test-sources.jar
Test.tar.gz
Test_file.zip
test_all_components.json
test_all_releases.json
test_all_packages.json
test_all_packages_with_details.json
real_instance_tests.py

# test coverage
htmlcov/
.coverage
coverage.bat

# internal stuff
__internal__/

# egg-info
sw360.egg-info/

# only for special tests
tests/sw360/

# To avoid save pyenv .python-version
.python-version
